.signup-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-top: 6%;
    font-size: 16px;
}

.logo-image {
    width: 110px;
    height: 110px;
}

form {
    display: flex;
    flex-direction: column;
    width: 400px;
}

form input:not(:last-child) {
    margin-bottom: 10px;
    background-color: #F1F1F1;
}

.btn.btn-success {
    margin-top: 20px;
    background-color: #598C58;
}

.login-btn {
    text-decoration: none;
    color: #598C58;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

